<div class="page-content">
    <div class="visits-list">
        <div *ngFor="let notification of notifications"
            class="visits-list-item base-container">

            <div class="visit-content">

                <h4 class="visit-header">
                    <span>Повідомлення №{{ notification.id }}</span>

                    <button (click)="markNotificationAsRead(notification.id)"
                        class="delete-visit-button"
                        [disabled]="notification.isRead">Прочитано
                    </button>
                </h4>

                <div class="customer-data-section">
                    <div>
                        <span class="data-header">Ідентифікатор покупця:</span> {{ notification.sendingDate }}
                    </div>

                    <div>
                        <span class="data-header">Рік народження покупця:</span> {{ notification.text }}
                    </div>

                    <div>
                        <span class="data-header">Стать покупця:</span> {{ notification.premiseId }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
