<div class="page-content">
    <div class="notifications-list">
        <div *ngFor="let notification of notifications"
            class="notifications-list-item base-container">

            <div class="notification-content">
                    <span>
                        {{ notification.sendingDate | date:'dd-MM-yyyy' }}

                        <span *ngIf="!notification.isRead"
                            class="label label-info">new
                        </span>
                    </span>

                    <span>{{ notification.text }}</span>

                    <button (click)="markNotificationAsRead(notification.id)"
                        class="mark-as-read-button"
                        [disabled]="notification.isRead">{{ 'notification-center.read' | translate }}
                    </button>
            </div>
        </div>
    </div>
</div>
