.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 100%;
    padding: 100px 40px 0 40px;
}

.base-container {
    background-color: #cdc1c1;
    border-radius: 6px;
    box-shadow: 0 2px 5px #000000;
}

.notifications-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 11pt;
}

.notifications-list-item {
    display: flex;
    flex-direction: row;
    width: 80%;
    min-width: 700px;
    margin-top: 10px;
    padding: 0;
    color: #000;
}

.notification-content {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-between;
    width: 100%;
    color: #000;
    padding: 15px;
    font-size: 13pt;
}

.mark-as-read-button {
    border-radius: 5px;
    background: #535050;
    width: 250px;
    height: 30px;
    font-size: 15px;
    color: #FFF;
    cursor: pointer;
}

.mark-as-read-button:hover {
    background: #c3bfbf;
}

.mark-as-read-button:disabled {
    background: #cdc1c1;
    pointer-events: none;
}
