<div class="page-content">
    <h1>{{ 'db-management.header' | translate }}</h1>

    <div>
        <button type="button"
            class="btn btn-default"
            (click)="createBackup()">{{ 'db-management.button.create-backup' | translate }}
        </button>
    </div>

    <div class="backups-table">
        <table class="table table-striped">
            <thead class="table-header">
                <tr>
                    <td>{{ 'db-management.label.date' | translate }}</td>
                    <td>{{ 'db-management.label.recovery-model' | translate }}</td>
                    <td>{{ 'db-management.label.user' | translate }}</td>
                    <td>{{ 'db-management.label.size' | translate }}</td>
                    <td>{{ 'db-management.label.is-damaged' | translate }}</td>
                    <td></td>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let backup of dbBackupsData">
                    <td>
                        {{ backup.date | date:'dd-MM-yyyy'
                           || "–"
                        }}
                    </td>
                    <td>{{ backup.recoveryModel || "–" }}</td>
                    <td>{{ backup.user || "–" }}</td>
                    <td>{{ backup.backupSize || "–" }}</td>
                    <td>
                        {{ backup.isDamaged ? ('common.yes' | translate)
                           : ('common.no' | translate)
                           || "–"
                        }}
                    </td>
                    <td class="restoring-button">
                        <button type="button"
                            class="btn btn-danger"
                            (click)="restoreDatabase(backup.backupId)">{{ 'db-management.button.restore-db' | translate }}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
