<div class="content">
    <div>
        <div class="chart-container">
            <div class="chart">
                <canvas id="canvas">{{ sellsChart }}</canvas>
            </div>
        </div>


        <form #form="ngForm" novalidate>

            <div class="chart-form">
                <div class="chart-form-item">
                    <label for="login">Оберіть товар:</label>
                    <select type="number"
                        #login="ngModel"
                        id="login"
                        name="login"
                        autocomplete="off"
                        required
                        pattern="^([A-Za-z]{3})([A-Za-z0-9]){0,17}"
                        [(ngModel)]="dataForGettingStatistics.goodId">

                        <option *ngFor="let product of allProducts"
                            value="{{ product.productId }}">

                            {{ product.name }}
                        </option>
                    </select>
                </div>

                <div class="chart-form-item">
                    <label for="dateFrom">Оберіть початкову дату:</label>
                    <input type="date"
                        id="dateFrom"
                        name="dateFrom"
                        [(ngModel)]="dataForGettingStatistics.dateFrom">
                </div>

                <div class="chart-form-item">
                    <label for="dateTo">Оберіть кінцеву дату:</label>
                    <input type="date"
                        id="dateTo"
                        name="dateTo"
                        [(ngModel)]="dataForGettingStatistics.dateTo">
                </div>
            </div>

            <div class="chart-form-submit-item">
                <button (click)="getChartData()" type="submit">Отримати графік</button>
            </div>
        </form>
    </div>
</div>
