<div class="main-img">
    <img id="main-img" src="assets/img/main-img.png">
</div>

<div class="main-content_1">
    <h1>
        Все услуги отеля в одном месте
    </h1>
    <div class="txt_1">
        В отелях, присоединившихся к системе MakeTravel, вы можете заказывать услуги, находясь где угодно. Даже
        временный переезд в другой отель больше не проблема.
    </div>
</div>

<div class="main-content_2">
    <hr>
    <hr>
    <div class="txt_2_1">
        Лучшие отели для Вас
    </div>
    <div class="txt_2_2">
        Выбирайте то, что проверено временем.
        <button>
            <a routerLink="">
                Смотреть все
            </a>
        </button>
    </div>

    <div class="content_img">
        <div class="item">
            <img src="assets/img/hotel_1.png" alt="">
            <div class="item_name">
                Hazbin hotel
            </div>
        </div>
        <div class="item">
            <img src="assets/img/hotel_2.png" alt="">
            <div class="item_name">
                Heljarchen Hall
            </div>
        </div>
        <div class="item">
            <img src="assets/img/hotel_3.png" alt="">
            <div class="item_name">
                7-Nation
            </div>
        </div>
    </div>
</div>

<div class="main-content_3">
    <div class="line_block">
        <h1 class="h_1">
            Заказывайте услуги отеля в одно касание
        </h1>
        <div class="txt_3_1">
            Вы постоялец? Отлично! Используйте
            мобильноеприложение, чтобы уведомить отель
            о своих нуждах! Заказать доставку еды прямо
            в номер? Провести уборку или починку
            техники? Забронировать столик в ресторане
            отеля?
            <br>Без проблем!
        </div>
        <a class="google-play"
           href="https://play.google.com/store/apps/details?id=com.miHoYo.GenshinImpact&hl=ru&gl=US"
           target="_blank">
            <img src="assets/img/google-play-badge.png" alt="">
        </a>
    </div>
    <div class="line_block">
        <img src="assets/img/smart.png" alt="">
    </div>
    <div class="line_block">
        <h1 class="h_2">
            Мгновенно реагируйте на все заказы в отеле
        </h1>
        <div class="txt_3_2">
            Вы работник отеля? Как вы вообще живете
            без мобильного приложения? Используйте его,
            чтобы отслеживать заказы, поступающие от
            постояльцев. Просматривайте детали заказа
            и решайте, браться ли за его выполнение.
            <br>Это же так просто!
        </div>
    </div>
</div>
