#main-img{
    width: 100%;
    height: 800px;
}

.main-img{
    width: 100%;
    height: 800px;
}

.main-content_1{
    width: 100%;
    margin: 50px
}

.main-content_1 h1{
    text-align: center;
    text-transform: uppercase;
}

.txt_1{
    margin-left: 20%;
    width: 500px;
    font-size: 20px;
    line-height: 40px;
    padding: 55px;
}

.main-content_2{
    width: 100%;
    background: #832736;
}

.main-content_2 h1{
    margin-left: 23%;
    color: #FBECD8;
}

.txt_2_1{
    margin-left: 27%;
    color: #FBECD8;
    font-size: 25px;
}

.txt_2_2{
    margin-left: 27%;
    color: #FFFFFF;
    font-size: 20px;
}

.main-content_2 button{
    margin-left: 27%;
    background: #832736;
    text-align: center;
    font-size: 20px;
    border: 1px solid #FBECD8;
    border-radius: 4px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}


.main-content_2 a{
    color: #FBECD8;
    text-decoration: none   ;
}

.content_img{
    text-align: center;
    margin: 20px;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.content_img .item{
    margin: 0 35px;
    font-size: 22px;
    border-radius: 5px;
    background: #FBECD8;
    color: #832736;
    height: 205px;
}

.item_name{

}

.main-content_3{
    width: 100%;
    margin-left: 10%;
    margin-bottom: -100px;
    margin-top: 45px;
}

.line_block{
    width:530px;
    height:550px;
    float:left;
    margin: 0 15px 15px 0;
    padding: 10px;
}

.line_block img{
    width:510px;
    height:550px;
}

.main-content_3 h1{
    text-transform: uppercase;
}

.txt_3_1{
    padding-top: 55px;
    font-size: 20px;
    line-height: 40px;
    text-align: left;
}

.h_1{
    text-align: left;
}

.txt_3_2{
    padding-top: 55px;
    font-size: 20px;
    line-height: 40px;
    text-align: right;
}

.h_2{
    text-align: right;
}

.google-play, .google-play img {
    padding-top: 10px;
    width: 150px;
    height: 50px;
}

hr {
    border: none;
    background-color: #FBECD8;
    height: 2px;
}

