.page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    height: 50%;
    width: 100%;
    padding: 0 52px;
}

.premises-table {
    display: flex;
    justify-content: center;
    width: 100%;
}

.table-header {
    font-weight: bold;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.buttons button {
    margin-left: 10px;
}
