<div class="page-content">
    <h1>{{ 'premises.header' | translate }}</h1>

    <div>
        <button type="button"
            class="btn btn-default"
            (click)="addPremise()">{{ 'premises.button.add-premise' | translate }}
        </button>
    </div>

    <div class="products-table">
        <table class="table table-striped">
            <thead class="table-header">
                <tr>
                    <td>{{ 'premises.label.id' | translate }}</td>
                    <td>{{ 'premises.label.name' | translate }}</td>
                    <td>{{ 'premises.label.area' | translate }}</td>
                    <td>{{ 'premises.label.address' | translate }}</td>
                    <td>{{ 'premises.label.rent' | translate }}</td>
                    <td>{{ 'premises.label.subrenter' | translate }}</td>
                    <td>{{ 'premises.label.annotation' | translate }}</td>
                    <td>{{ 'premises.label.temperature' | translate }}</td>
                    <td>{{ 'premises.label.humidity' | translate }}</td>
                    <td></td>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let premise of premises">
                    <ng-template *ngIf="isEditMode(premise); then editTemplate; else readOnlyTemplate"></ng-template>

                    <ng-template #readOnlyTemplate>
                        <td>{{ premise.premiseId || "–"  }}</td>
                        <td>{{ premise.name || "–" }}</td>
                        <td>{{ premise.area || "–" }}</td>
                        <td>{{ premise.address || "–" }}</td>
                        <td>{{ premise.rentAmount || "–" }}</td>
                        <td>{{ premise.subrenterLogin || "–" }}</td>
                        <td>{{ premise.annotation || "–" }}</td>
                        <td>{{ premise.temperature || "–" }}</td>
                        <td>{{ premise.relativeHumidity || "–" }}</td>

                        <td class="buttons">
                            <button type="button"
                                class="btn btn-default"
                                (click)="editPremise(premise)">{{ 'common.edit' | translate }}
                            </button>

                            <button type="button"
                                class="btn btn-danger delete-button"
                                (click)="deletePremise(premise.premiseId)">{{ 'common.delete' | translate }}
                            </button>
                        </td>
                    </ng-template>

                    <ng-template #editTemplate>
                        <td>
                            {{ editedPremise.premiseId }}
                        </td>

                        <td>
                            <input type="text"
                                class="form-control"
                                [(ngModel)]="editedPremise.name">
                        </td>

                        <td>
                            <input type="number"
                                class="form-control"
                                [(ngModel)]="editedPremise.area">
                        </td>

                        <td>
                            <input type="text"
                                class="form-control"
                                [(ngModel)]="editedPremise.address">
                        </td>

                        <td>
                            <input type="number"
                                class="form-control"
                                [(ngModel)]="editedPremise.rentAmount">
                        </td>

                        <td>
                            <ng-select [items]="subrenters"
                                bindLabel="login"
                                bindValue="id"
                                [(ngModel)]="editedPremise.subrenterId">
                            </ng-select>
                        </td>

                        <td>
                            <input type="text"
                                class="form-control"
                                [(ngModel)]="editedPremise.annotation">
                        </td>

                        <td>
                            {{ editedPremise.temperature || "–" }}
                        </td>

                        <td>
                            {{ editedPremise.relativeHumidity || "–" }}
                        </td>

                        <td class="buttons">
                            <button type="button"
                                class="btn btn-success"
                                (click)="savePremise()">{{ 'common.save' | translate }}
                            </button>

                            <button type="button"
                                class="btn btn-warning delete-button"
                                (click)="cancel()">{{ 'common.cancel' | translate }}
                            </button>
                        </td>
                    </ng-template>
                </tr>
            </tbody>
        </table>
    </div>
</div>
