<div class="page-content">
    <h1>Список товарів</h1>

    <div>
        <button type="button"
            class="btn btn-default"
            (click)="addProduct()">Додати товар
        </button>
    </div>

    <div class="products-table">
        <table class="table table-striped">
            <thead class="table-header">
            <tr>
                <td>Ідентифікатор</td>
                <td>Назва</td>
                <td>Вартість, грн</td>
                <td>Полиця</td>
                <td></td>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let product of products">
                <ng-template *ngIf="isEditMode(product); then editTemplate; else readOnlyTemplate"></ng-template>

                <ng-template #readOnlyTemplate>
                    <td>{{ product.productId || "–"  }}</td>
                    <td>{{ product.name || "–" }}</td>
                    <td>{{ product.price || "–" }}</td>
                    <td>{{ product.shelf || "–" }}</td>

                    <td class="buttons">
                        <button type="button"
                            class="btn btn-default"
                            (click)="editProduct(product)">Змінити
                        </button>

                        <button type="button"
                            class="btn btn-danger delete-button"
                            (click)="deleteProduct(product.productId)">Видалити
                        </button>
                    </td>
                </ng-template>

                <ng-template #editTemplate>
                    <td>
                        {{ editedProduct.productId }}
                    </td>

                    <td>
                        <input type="text"
                            class="form-control"
                            [(ngModel)]="editedProduct.name">
                    </td>

                    <td>
                        <input type="number"
                            class="form-control"
                            [(ngModel)]="editedProduct.price">
                    </td>

                    <td>
                        <input type="text"
                            class="form-control"
                            [(ngModel)]="editedProduct.shelf">
                    </td>

                    <td class="buttons">
                        <button type="button"
                            class="btn btn-success"
                            (click)="saveProduct()">Зберегти
                        </button>

                        <button type="button"
                            class="btn btn-warning delete-button"
                            (click)="cancel()">Скасувати
                        </button>
                    </td>
                </ng-template>
            </tr>
            </tbody>
        </table>
    </div>
</div>
