<div class="main-menu">
    <div class="main-menu-content">

        <button *ngIf="currentUser == userRole.Entrepreneur"
            class="main-menu-button"
            [ngClass]="{ active: currentPage == pages.Premises }"
            (click)="appStateService.appState.currentPage = pages.Premises"
            routerLink="/premises">

            <a>{{ 'navigation.premises' | translate }}</a>
        </button>

        <button *ngIf="currentUser == userRole.Entrepreneur"
            class="main-menu-button"
            [ngClass]="{ active: currentPage == pages.SellsChart }"
            (click)="appStateService.appState.currentPage = pages.SellsChart"
            routerLink="/rent-chart">

            <a>{{ 'navigation.rent-chart' | translate }}</a>
        </button>

        <button *ngIf="currentUser == userRole.Admin"
            class="main-menu-button"
            [ngClass]="{ active: currentPage == pages.UserList }"
            (click)="appStateService.appState.currentPage = pages.UserList"
            routerLink="/user-list">

            <a>{{ 'navigation.user-list' | translate }}</a>
        </button>

        <button *ngIf="currentUser == userRole.Admin"
            class="main-menu-button"
            [ngClass]="{ active: currentPage == pages.Registration }"
            (click)="appStateService.appState.currentPage = pages.Registration"
            routerLink="/auth/sign-up">

            <a>{{ 'navigation.registration' | translate }}</a>
        </button>

        <button *ngIf="currentUser == userRole.Admin"
            class="main-menu-button"
            [ngClass]="{ active: currentPage == pages.DbManagement }"
            (click)="appStateService.appState.currentPage = pages.DbManagement"
            routerLink="/db-management">

            <a>{{ 'navigation.db-management' | translate }}</a>
        </button>

        <button class="main-menu-button">
            <a>{{ 'navigation.howto' | translate }}</a>
        </button>
    </div>

    <div class="profile-section">
        <div *ngIf="currentUser == userRole.Entrepreneur">

            <button class="authorization-menu-button"
                [ngClass]="{ active: currentPage == pages.NotificationCenter }"
                (click)="appStateService.appState.currentPage = pages.NotificationCenter"
                routerLink="/notification-center">

                <a class="authorization-items">{{ 'navigation.notifications' | translate }}
                    <span *ngIf="appStateService.appState.hasUnreadNotifications"
                        class="label label-info">
                        new
                    </span>
                </a>
            </button>
        </div>

        <div *ngIf="currentUser == userRole.Unauthorized">

            <button class="authorization-menu-button"
                [ngClass]="{ active: currentPage == pages.Authentication }"
                (click)="appStateService.appState.currentPage = pages.Authentication"
                routerLink="/auth/sign-in">

                <a class="authorization-items">{{ 'navigation.sign-in' | translate }}</a>
            </button>
        </div>

        <div>
            <button class="authorization-menu-button"
                (click)="switchLocale()">

                <a class="authorization-items">{{ 'common.language' | translate }}</a>
            </button>
        </div>

        <div *ngIf="currentUser != userRole.Unauthorized">

            <button class="authorization-menu-button"
                (click)="refreshPage()">

                <a class="authorization-items">{{ 'navigation.sign-out' | translate }}</a>
            </button>
        </div>
    </div>
</div>
