<footer>
    <div class="top-footer-section">
        <div class="footer-content">
            <div class="section-header">Контакти</div>

            <div>&#9742;&nbsp;+380-00-000-00-00</div>
            <div>&#9993;&nbsp;warecave@gmail.com</div>
        </div>

        <div class="footer-content">
            <div class="section-header">Додатки</div>

            <a class="google-play"
                href="https://play.google.com/store/apps/details?id=com.miHoYo.GenshinImpact&hl=ru&gl=US"
                target="_blank">
                <img src="assets/img/google-play-badge.png" alt="">
            </a>
        </div>

        <div class="footer-content footer-logo">
            <img src="assets/img/logo.png" alt="">
        </div>
    </div>

    <div class="bottom-footer-section">
        ©2020 Warecave, всі права захищені
    </div>
</footer>
