<div class="auth-content">
    <div class="auth-header">
        <div *ngIf="signUp">{{ 'authorization.header.sign-up' | translate }}</div>
        <div *ngIf="signIn">{{ 'authorization.header.sign-in' | translate }}</div>
    </div>

    <div *ngIf="authError"
        class="errors">
        <div>{{ 'common.error' | translate }}</div>
        <div class="errors-text">{{ authError }}</div>

        <button class="errors-button"
            type="button"
            (click)="dismissAuthError.emit()">{{ 'common.ok' | translate }}
        </button>
    </div>

    <form #form="ngForm"
        class="auth-form"
        novalidate>

        <div class="auth-form-item">
            <label for="login">{{ 'authorization.label.login' | translate }}</label>
            <input type="text"
                #login="ngModel"
                id="login"
                name="login"
                required
                pattern="^([A-Za-z]{3})([A-Za-z0-9]){0,17}"
                [(ngModel)]="user.login">

            <div *ngIf="login.invalid && (login.dirty || login.touched)"
                class="validation-warning">
                <div *ngIf="login.errors.required">{{ 'common.field-required' | translate }}</div>
                <div *ngIf="login.errors.pattern">{{ 'authorization.validation.login' | translate }}</div>
            </div>
        </div>

        <div class="auth-form-item">
            <label for="password">{{ 'authorization.label.password' | translate }}</label>
            <input type="password"
                #password="ngModel"
                id="password"
                name="password"
                required
                pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{6,}"
                [(ngModel)]="user.password">

            <div *ngIf="password.invalid && (password.dirty || password.touched)"
                class="validation-warning">
                <div *ngIf="password.errors.required">{{ 'common.field-required' | translate }}</div>
                <div *ngIf="password.errors.pattern">{{ 'authorization.validation.password' | translate }}</div>
            </div>
        </div>

        <div *ngIf="signUp"
            class="auth-form-item">
            <label for="password-check">{{ 'authorization.label.repeat-password' | translate }}</label>
            <input type="password"
                #passwordCheck="ngModel"
                id="password-check"
                name="password-check"
                required
                [pattern]="password.value"
                ngModel>

            <div *ngIf="passwordCheck.invalid && (passwordCheck.dirty || passwordCheck.touched)"
                class="validation-warning">
                <div *ngIf="passwordCheck.errors.required">{{ 'common.field-required' | translate }}</div>
                <div *ngIf="passwordCheck.errors.pattern">{{ 'authorization.validation.repeat-password' | translate }}</div>
            </div>
        </div>

        <div *ngIf="signUp"
            class="auth-form-item">

            <label for="role">{{ 'authorization.label.user-type' | translate }}</label>
            <select type="text"
                id="role"
                name="role"
                required
                [(ngModel)]="user.roleId">

                <option *ngFor="let user of users"
                    value="{{ user.value }}">

                    {{ user.name }}
                </option>
            </select>
        </div>

        <div class="auth-form-submit-item">
            <button type="submit"
                [ngClass]="{ formSubmitting: processing }"
                [disabled]="form.invalid || processing"
                (click)="submit.emit()">

                <span *ngIf="processing">{{ 'common.processing' | translate }}</span>
                <span *ngIf="!processing && signUp">{{ 'authorization.button.registration' | translate }}</span>
                <span *ngIf="!processing && signIn">{{ 'authorization.button.authorization' | translate }}</span>
            </button>
        </div>
    </form>
</div>
