<div class="auth-content">
    <div class="auth-header">
        <div *ngIf="signUp">Реєстрація</div>
        <div *ngIf="signIn">Вхід</div>
    </div>

    <div *ngIf="authError"
        class="errors">
        <div>Помилка!</div>
        <div class="errors-text">{{ authError }}</div>

        <button class="errors-button"
            type="button"
            (click)="dismissAuthError.emit()">Ок
        </button>
    </div>

    <form #form="ngForm"
        class="auth-form"
        novalidate>

        <div class="auth-form-item">
            <label for="login">Логін</label>
            <input type="text"
                #login="ngModel"
                id="login"
                name="login"
                required
                pattern="^([A-Za-z]{3})([A-Za-z0-9]){0,17}"
                [(ngModel)]="user.login">

            <div *ngIf="login.invalid && (login.dirty || login.touched)"
                class="validation-warning">
                <div *ngIf="login.errors.required">Заповніть це поле!</div>
                <div *ngIf="login.errors.pattern">Перших 3 символа літери. Максимум 20 символів. Тільки літери та цифри.</div>
            </div>
        </div>

        <div class="auth-form-item">
            <label for="password">Пароль</label>
            <input type="password"
                #password="ngModel"
                id="password"
                name="password"
                required
                pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{6,}"
                [(ngModel)]="user.password">

            <div *ngIf="password.invalid && (password.dirty || password.touched)"
                class="validation-warning">
                <div *ngIf="password.errors.required">Заповніть це поле!</div>
                <div *ngIf="password.errors.pattern">Пароль має містити мінімум 6 латинських літер, одну велику літеру та цифру</div>
            </div>
        </div>

        <div *ngIf="signUp"
            class="auth-form-item">
            <label for="password-check">Повторіть пароль</label>
            <input type="password"
                #passwordCheck="ngModel"
                id="password-check"
                name="password-check"
                required
                [pattern]="password.value"
                ngModel>

            <div *ngIf="passwordCheck.invalid && (passwordCheck.dirty || passwordCheck.touched)"
                class="validation-warning">
                <div *ngIf="passwordCheck.errors.required">Заповніть це поле!</div>
                <div *ngIf="passwordCheck.errors.pattern">Паролі не співпадають</div>
            </div>
        </div>

        <div *ngIf="signUp"
            class="auth-form-item">

            <label for="role">Тип користувача</label>
            <select type="text"
                id="role"
                name="role"
                required
                [(ngModel)]="user.roleId">

                <option *ngFor="let user of users"
                    value="{{ user.value }}">

                    {{ user.name }}
                </option>
            </select>
        </div>

        <div class="auth-form-submit-item">
            <button type="submit"
                [ngClass]="{ formSubmitting: processing }"
                [disabled]="form.invalid || processing"
                (click)="submit.emit()">

                <span *ngIf="processing">Обробка..</span>
                <span *ngIf="!processing && signUp">Зареєструвати</span>
                <span *ngIf="!processing && signIn">Увійти</span>
            </button>
        </div>
    </form>
</div>
